In [1]:
# import library
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv("T200_INVENTORY_SAMPLE.csv")
#check the data types
data.dtypes

ITEM_UPC                       int64
ITEM_DEPARTMENT              float64
ITEM_CATEGORY                 object
ITEM_PRICE_QTY                 int64
ITEM_PRICE                     int64
ITEM_UNIT_COST                 int64
ITEM_POS_DESC                 object
ITEM_SIZE                    float64
ITEM_CASE_COST                 int64
ITEM_WH_ITEM_CODE            float64
KK_PRICE_LAST                  int64
KK_PRICE_NEW                   int64
KK_PACK                        int64
CREATED_DT                   float64
MODIFIED_DT                   object
KK_KOREAN                     object
CREATED_BY                   float64
MODIFIED_BY                   object
ITEM_VENDOR                  float64
ITEM_PRICE2                  float64
ITEM_PRICE3                  float64
ITEM_PRICE4                  float64
ITEM_DISPLAY_ORDER             int64
BOSS_NOTE                    float64
RETAIL_VISIBLE                  bool
TOTAL_SALES                   object
LAST_SALES                    object
INVENTORY_QTY                  int64
ITEM_PRICE5                  float64
ITEM_PRICE6                  float64
ITEM_PRICE7                  float64
ITEM_BARCODE1                float64
ITEM_BARCODE2                float64
ITEM_BARCODE3                 object
ITEM_BARCODE4                float64
ITEM_RETAIL_PRICE              int64
ITEM_UNT_QTY_PER_BOX           int64
LAST_CHECK_DATE              float64
INVENTORY_LAST_PRICE           int64
INVENTORY_LAST_PRICE_DATE    float64
INVENTORY_NEW_PRICE            int64
INVENTORY_NEW_PRICE_DATE     float64
BOSS_ITEM_YN                    bool
IDENTIFY_ITEM_YN                bool
BR_DESC                      float64
ITEM_BRAND                   float64
BR_SIZE                      float64
INV_CHECK                    float64
MAIN_UPC                     float64
MAIN_UPC_YN                     bool
dtype: object

In [13]:
data["ITEM_POS_DESC"].fillna("None",inplace = True)
data["ITEM_CATEGORY"].fillna("None",inplace = True)

In [14]:
JTData = data[["ITEM_CATEGORY","ITEM_PRICE","ITEM_POS_DESC","ITEM_PRICE2"]]
JTData.info

<bound method DataFrame.info of    ITEM_CATEGORY  ITEM_PRICE  \
0     Vegetables          27
1     Vegetables          25
2     Vegetables          25
3     Vegetables          25
4     Vegetables          45
5     Vegetables          37
6     Vegetables          16
7     Vegetables          24
8     Vegetables          29
9     Vegetables          25
10    Vegetables          63
11    Vegetables          16
12    Vegetables          23
13    Vegetables          30
14    Vegetables          23
15    Vegetables          23
16    Vegetables          23
17    Vegetables          11
18    Vegetables          28
19    Vegetables          20
20    Vegetables          20
21    Vegetables          41
22    Vegetables          23
23    Vegetables          60
24    Vegetables          33
25    Vegetables          29
26    Vegetables          28
27    Vegetables          28
28    Vegetables          24
29    Vegetables          65
30         Fruit          29
31         Fruit          25
32         Fruit          26
33         Fruit          32
34        Frozen          68
35         Fruit          22
36         Fruit          12
37         Fruit          37
38         Fruit         130

                                        ITEM_POS_DESC  ITEM_PRICE2
0   Napa                                  배추  orig...        25.00
1   Young Radish                    총각무우 50CT  ori...        25.00
2   Baby Radish                      열무  50CT   or...        25.00
3   Young Napa                      풋 배추 50CT  ori...        25.00
4   Chive                                부추 origin...        37.00
5     Pickle Cucumber                피클오이  origin USA        32.00
6        Green Onion                     파 origin USA        14.95
7   Spinach Bunch                  시금치 24CT origin...        20.00
8           Long Hot Green Pepper    롱핫 그린 origin USA        29.00
9      Korean Pepper                  조선고추 origin USA        15.00
10   Twist Pepper                     꽈리고추 origin USA        50.00
11        Yellow Squash                   노란 호박  20Lb        16.00
12               Korean Squash                  한국 호박        20.00
13     Crown daisy                      쑥갓 origin USA        28.00
14  Carrots                              당근  50# o...        19.00
15      Red Leaf Lettuce              레드상추 origin USA        13.50
16        Green Leaf Lettuce          그린상추 origin USA        13.50
17     Cilantro                             칠란트로 30EA        11.00
18  Broccoli                             브라콜리 orig...        14.55
19        Green Cabbage                양배추 origin USA        15.75
20    Baby Bok Choy                 베이비박초이 origin USA        15.00
21  Yuchoy                             유초이 origin USA        42.00
22         Kabocha Squash              가보차 origin USA        39.00
23                  Sesame Leaf                    깻잎        50.00
24              Garlic Whole                     통 마늘        27.00
25  Peeled Garlic (Jar)           깐 마늘 5Lb/4 origi...        48.00
26            Ginger Root                     생강 30Lb        17.00
27               Sasamestem                    줄기 깻 잎        28.00
28  Potato-Idaho                  감자 70 CT 50Lb or...        19.10
29         Korean Yam                     한국 고구마 40Lb        50.00
30        Lime-Bartlett                            라임        23.00
31      Orange 88Ct                          오렌지 88Ea        16.00
32      Orange 56CT                          오렌지 56Ea        23.00
33       Cherry                                    체리        32.00
34  Frozen Chwinamul                        냉동 취나물...        58.00
35  Peach-Yellow                          노란 복숭아 o...        17.85
36  Peach- White                          흰 복숭아 or...        12.00
37       Lemon                                     레몬        24.00
38  Watermelon  Seedless            씨없는 수박 45CT Bi...       130.00  >

In [15]:
#Saving the dataframe
JTData.to_csv('Inventory-Sample.csv')